body {
    background-color: #072227;
    color: #35858B;
    font-family: monospace;
    font-size: 16px;
}
#textbox {
    background-color: #072227;
    color: #35858B;
    padding: 2ch;
    border: 2px solid #4FBDBA;
    font-family: monospace;
    font-size: 16px;
    width: 80ch;
    min-height:50px;
    height: auto;
}
#output {
    padding: 2ch;
    border: 2px solid #4FBDBA;
    font-family: monospace;
    font-size: 16px;
    width: 80ch;
}
#submit {
    display: inline;
    border: 2px solid #4FBDBA;
    padding: 2ch;
    font-family: monospace;
    font-size: 16px;
}
#vm-select {
    display: inline;
    border: 2px solid #4FBDBA;
    padding: 2ch;
    font-family: monospace;
    font-size: 16px;
}
#container {
    padding: 2ch;
}