body {
    background-color: #000000;
    color: #00FF00;
    font-family: monospace;
    font-size: 16px;
}
#textbox {
    background-color: #000000;
    color: #00FF00;
    padding: 2ch;
    border: 2px solid #000000;
    font-family: monospace;
    font-size: 16px;
    width: 80ch;
    min-height:50px;
    height: auto;
}
#output {
    background-color: #000000;
    color: #00FF00;
    padding: 2ch;
    border: 2px solid #000000;
    font-family: monospace;
    font-size: 16px;
    width: 80ch;
}
#submit {
    background-color: #000000;
    color: #00FF00;
    display: inline;
    border: 2px solid #000000;
    padding: 2ch;
    font-family: monospace;
    font-size: 16px;
}
#vm-select {
    background-color: #000000;
    color: #00FF00;
    display: inline;
    border: 2px solid #000000;
    padding: 2ch;
    font-family: monospace;
    font-size: 16px;
}
#memory-amount {
    background-color: #000000;
    color: #00FF00;
}
#container {
    padding: 2ch;
}
